# Advanced Python Programming - First Assignment

**Topics Covered:** Data Types, Data Structures, Loops, Conditionals, Functions  

**Instructions:**  
- Answer all questions  
- Write clean code  
- Do not use external libraries 

**Submission Guidelines:**
- Save as: `FirstName_LastName_Assignment1.ipynb`
- Test all code before submission
- Include output for each question
- Add comments explaining your logic
- Deadline: 12-19-2025

## Question 1: Data Types and Input Handling
Take student name, roll number, age, and marks as input.  
Display each value with its data type.  
Convert age to float and marks to int before displaying.

In [1]:

name=input("Enter your name: ")
roll_no=input("Enter your roll number: ")
age=input("Enter your age: ")
marks=input("Enter your marks: ")
print("Name:", name,"type:", type(name))
print("Roll Number:", roll_no,"type:", type(roll_no))                  
print("Age:", age,"type:", type(age))
print("Marks:", marks,"type:", type(marks))
converted_age=float(age)
converted_marks=int(marks)
print("Converted Age:", converted_age,"type:", type(converted_age))
print("Converted Marks:", converted_marks,"type:", type(converted_marks))

Enter your name:  Anshriti
Enter your roll number:  08
Enter your age:  21
Enter your marks:  45

Name: Anshriti type: <class 'str'>
Roll Number: 08 type: <class 'str'>
Age: 21 type: <class 'str'>
Marks: 45 type: <class 'str'>
Converted Age: 21.0 type: <class 'float'>
Converted Marks: 45 type: <class 'int'>

## Question 2: Conditional Logic
Accept marks (0–100) and display:
- Excellent (≥80)
- Good (≥60)
- Pass (≥40)
- Fail (<40)

In [2]:
marks=int(input("Enter marks(0-100): "))
input=print("The marks is:", marks)
if marks>=80:
    print("Excellent")
elif marks>=60:
    print("Good")
elif marks>=40:
    print("Pass")
else:
    print("Fail")

Enter marks(0-100):  67

The marks is: 67
Good

## Question 3: Looping with Conditions
Print numbers between 1 and 100 that are divisible by 4 but not divisible by 8.

In [3]:
for i in range(1,101):
    if i%4==0 and i%8!=0:
        print(i)

4
12
20
28
36
44
52
60
68
76
84
92
100

## Question 4: List Operations
Given:
```python
marks = [55, 72, 48, 90, 67, 72, 90]
```
Find max, min, count of 72, and marks ≥ 60.

In [5]:
marks=[55, 72, 48, 90, 67, 72,90]
maximum_marks=max(marks)
print("maximum marks is:", maximum_marks)
minimum_marks=min(marks)
print("minimum marks is:", minimum_marks)
count_72=marks.count(72)
print("count of 72 is:", count_72)
output = [mark for mark in marks if mark >= 60]
print("Marks greater than or equal to 60:", output)

maximum marks is: 90
minimum marks is: 48
count of 72 is: 2
Marks greater than or equal to 60: [72, 90, 67, 72, 90]

## Question 5: Tuple and Immutability
Create a tuple of 5 subjects and attempt modification.  
Explain result using comments.

In [6]:
tuple=('Data Science','Web Aplication Programming','Computer Graphics','Statistics','Microprocessor')
print("Tuple:", tuple)

Tuple: ('Data Science', 'Web Aplication Programming', 'Computer Graphics', 'Statistics', 'Microprocessor')

In the above program we can't modify the tuple since tuple is an immutable data structure. If we desire to make any modification in the tuple so created we have to enter it as the input it is not possible to modify the tuple later.

## Question 6: List Sanitization and Metrics
Given:
```python
marks = [45, -3, 88, "NA", 102, None, 67]
```

Write a function that:
1. Removes invalid entries  
2. Returns:
   - Cleaned list  
   - Number of invalid entries  
   - Percentage of valid marks  

Return values using a tuple.

In [11]:
def sanitize_marks(marks):
    cleaned = []
    invalid_count = 0

    for m in marks:
        if isinstance(m, (int, float)) and 0 <= m <= 100:
            cleaned.append(m)
        else:
            invalid_count += 1

    total = len(marks)
    valid_percentage = (len(cleaned) / total) * 100

    return cleaned, invalid_count, valid_percentage


marks = [45, -3, 88, "NA", 102, None, 67]

result = sanitize_marks(marks)
print(result)

([45, 88, 67], 4, 42.857142857142854)

## Question 7: Dictionary Usage
Create a dictionary of roll number and name.  
Implement add, update, and display operations using functions.

In [12]:
students = {}

def add_student(roll, name):
    students[roll] = name

def update_student(roll, name):
    if roll in students:
        students[roll] = name

def display_students():
    for roll, name in students.items():
        print(roll, ":", name)

add_student(1, "Anshriti")
add_student(2, "Shreeti")

update_student(2, "Alia")

display_students()

1 : Anshriti
2 : Alia

## Question 8: Prime Number Function
Write `is_prime(n)` and display prime numbers between 1 and 50.

In [13]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

print("Prime numbers between 1 and 50:")
for num in range(1, 51):
    if is_prime(num):
        print(num)

Prime numbers between 1 and 50:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

## Question 9: Function Composition
Write functions to:
1. Calculate total marks  
2. Calculate average  
3. Classify result (Distinction / Pass / Fail)

Then write a function that combines them and returns:
```
(name, total, average, result)
```

Explain why modular design is beneficial.

Modular design is useful because it divides a program into smaller, reusable parts, which makes the code simpler to understand, easier to test and debug, and more convenient to maintain.

In [15]:
def total_marks(marks):
    return sum(marks)
def average_marks(marks):
    return sum(marks) / len(marks)
def classify(marks):
    avg=average_marks(marks)
    if avg >= 50:
        return "Distinction"
    elif avg >= 30:
        return "First Class"
    elif avg >= 24:
        return "Pass"
    else:
        return "Fail"
    
def main():
    marks = [39, 58, 42, 27, 10]
    print("Total Marks:", total_marks(marks))
    print("Average Marks:", average_marks(marks))
    print("Classification:", classify(marks))
main()

Total Marks: 176
Average Marks: 35.2
Classification: First Class

## Question 10: Defensive Input Parsing
Write a function that accepts a raw input string in the format:

```
"Ram|101|22|78, 88, 91"
```
Hint: Parse student data from string format: "Name|Roll|Age|Mark1, Mark2, Mark3"

Tasks:
1. Extract name, roll number, age, and marks  
2. Convert them into appropriate data types  
3. Validate age (≥16) and marks (0–100)  
4. Return the result as a dictionary using roll number as the key  

The function must not crash for malformed input.

In [16]:
def parse_student(input_str):
    try:
        parts = input_str.split("|")
        if len(parts) != 4:
            return {}
        name = parts[0].strip()
        roll = int(parts[1].strip())
        age = int(parts[2].strip())

        marks = [int(m.strip()) for m in parts[3].split(",")]

        if age < 16 or any(m < 0 or m > 100 for m in marks):
            return {}

        return {roll: {"name": name, "age": age, "marks": marks}}

    except:
        return {} 

print(parse_student("Ram|101|22|78, 88, 92"))

{101: {'name': 'Ram', 'age': 22, 'marks': [78, 88, 92]}}

## Question 11: Type Stability and Conversion
Given the list:
```python
data = [10, "20", 30.5, "abc", None, True]
```

Write a function that:
1. Separates numeric and non-numeric values  
2. Converts numeric values to float  
3. Returns both lists  

Explain in comments why `True` behaves as a numeric value.

In [18]:
data = [10, "20", 30.5, "abc", None, True]

def separate_and_convert(list):
    numeric = []
    non_numeric = []

    for item in list:
        
        if isinstance(item, (int, float))  and not isinstance(item, bool):
            numeric.append(float(item))
        else:
            non_numeric.append(item)

    return numeric, non_numeric

numeric_values, non_numeric_values = separate_and_convert(data)
print("Numeric values:", numeric_values)
print("Non-numeric values:", non_numeric_values)

Numeric values: [10.0, 30.5]
Non-numeric values: ['20', 'abc', None, True]

True behaves like a numeric value because bool inherits from int in Python, so True acts like 1 and False acts like 0.

## Question 12: Pattern-Based Looping
Generate the sequence:
```
2, 6, 12, 20, 30, 42, 56
```

Rules:
- Do not hardcode the list  
- Use loops and conditionals only  
- Explain the pattern in comments

In [24]:
a = [] 
for n in range(1, 8):
    value = n * (n + 1)
    a.append(value)
for n in a:
    print(n)

2
6
12
20
30
42
56

Here the pattern is consecutive numbers that are multiplied using value = n*(n+1).

## Question 13: Set-Based Enrollment Analysis
Given:
```python
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}
```

Find:
1. Students enrolled in exactly two subjects  
2. Students enrolled in only one subject  
3. Students enrolled in all subjects

In [25]:
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}

all_subjects = python & sql & statistics

exactly_two = (
    (python & sql) | (python & statistics) | (sql & statistics)) - all_subjects

only_one = (python | sql | statistics) - exactly_two - all_subjects

print("Students enrolled in exactly two subjects:", exactly_two)
print("Students enrolled in only one subject:", only_one)
print("Students enrolled in all subjects:", all_subjects)

Students enrolled in exactly two subjects: {'Nita', 'Amit'}
Students enrolled in only one subject: {'Gita', 'Sita', 'Ram'}
Students enrolled in all subjects: {'Hari'}

## Question 14: Dictionary Aggregation Logic
Given:
```python
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}
```

Write a function that:
1. Computes average per student  
2. Identifies top and bottom performers  
3. Returns results using a single dictionary

In [27]:
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}

def (records):
    result = {}

    for name in records:
        marks = records[name]
        result[name] = sum(marks) / len(marks)

    top = max(result, key=result.get)
    bottom = min(result, key=result.get)

    result["Top Performer"] = top
    result["Bottom Performer"] = bottom

    return result

print(analyze(records))

{'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336, 'Top Performer': 'Sita', 'Bottom Performer': 'Hari'}

## Question 15: Nested Data Structure Analysis
Given a nested dictionary representing a school's grade book:
```python
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}
```

Write a function that:
1. Calculates the average marks for each student
2. Finds the top performer in each class
3. Calculates the overall school average
4. Returns a dictionary with:
   - `class_toppers`: {class_name: (student_name, average)}
   - `school_average`: float
   - `student_averages`: {student_name: average}

Explain in comments why nested dictionaries are useful for hierarchical data.

In [28]:
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}

def analyze(data):
    class_toppers = {}
    student_averages = {}

    total_marks = 0
    total_students_marks = 0

    for class_name in data:
        highest_avg = 0
        topper = ""

        for student in data[class_name]:
            marks = data[class_name][student]
            avg = sum(marks) / len(marks)

            student_averages[student] = avg

            total_marks += sum(marks)
            total_students_marks += len(marks)

            if avg > highest_avg:
                highest_avg = avg
                topper = student

        class_toppers[class_name] = (topper, highest_avg)

    school_average = total_marks / total_students_marks

    return {
        "class_toppers": class_toppers,
        "school_average": school_average,
        "student_averages": student_averages
    }

result = analyze(school_data)
print(result)

{'class_toppers': {'Class A': ('Sita', 84.0), 'Class B': ('Ram', 91.66666666666667)}, 'school_average': 77.91666666666667, 'student_averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336, 'Ram': 91.66666666666667}}

Nested dictionaries are useful for hierarchical data because they allow us to store information in levels, just like real-life structures.